html {
    font-size: 14px;
}

body {
    background-color: #F5F7FB;
    transition: 0.1s all;
}

footer {
    height: 3rem;
    width: 100%;
    display: flex;
    color: azure;
    background-color: #565656;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shadeBox {
    width: 100%;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 100;
    top:0;
}

.shadeBox p {
    color: #74c5b5;
    text-align: center;
    font-size: 4rem;
    margin: 4rem auto;
}

.headLogoImg {
    max-width: 18.6rem;
    background-image: url('../img/ChooseLOGOBLACK.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width:760px) {
    .headLogoImg {
        width: 15.6rem;
    }
}

@media (min-width:320px) {
    .headLogoImg {
        width: 12.6rem;
    }
}

@media (min-width:1070) {
    .headLogoImg {
        width: 18.6rem;
    }
}

/*课程卡片盒子*/

.ClassCardBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ShowClassCard {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

/*适配电脑页面*/

@media (min-width:1070px) {
    .ShowClassCard {
        width: 90%;
    }
    footer {
        height: 5rem;
        flex-direction: row;
    }
}

.clearfix {
    clear: both;
}

nav {
    font-family: Helvetica;
    text-align: left;
    text-transform: uppercase;
    background-color: #f5f7fb;
}

nav ul {
    width: 90%;
    max-width: 170rem;
    margin: 0 auto;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #9d9d9d;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    box-sizing: border-box;
}

nav ul li a:hover {
    background-color: #74c5b5;
    color: white;
}

.current_page {
    background-color: #74c5b5;
}

.current_page :hover {
    background-color: #F5F7FB;
    color: #9d9d9d;
}

.current_page a {
    color: white;
}

#menu_button_wrapper {
    display: none;
}

.hidden {
    display: none;
}

/* Responsive for smaller screens */

@media (max-width: 760px) {
    .taitle .active .right {
        width: 6.5rem;
    }
    .taitle .active .left {
        width: 10rem;
    }
    #menu_button_wrapper {
        display: block;
        padding: 1em;
        color: #9d9d9d;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    #menu_button {
        box-sizing: border-box;
        float: right;
        padding: .5em 1em;
        border: 1px solid #333;
        border-radius: 5px;
        color: black;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #menu_button:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
    #hamburger {
        float: right;
        padding-top: .15em;
    }
    #menu_button span {
        display: block;
        background-color: #fff;
        width: 1.2em;
        height: .15em;
        border-radius: 1px;
        margin-bottom: .2em;
    }
    nav ul {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
    nav ul li {
        display: block;
    }
    nav ul li a {
        width: 100%;
    }
}

.taitle {
    background-color: white;
    width: 100%;
    color: black;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}

.taitle .active {
    margin: 0 auto;
    width: 90%;
    height: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.taitle .active .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-weight: 700;
    color: #ccc;
    /* width: 12rem; */
    height: 100%;
}

@media (min-width:860px) {
    .taitle .active .left {
        width: 12rem;
    }
}

.taitle .active .left .leftIcon {
    /* width: 4rem; */
    /* height: 4rem; */
    /* background-image: url(../img/icon.png); */
    background-repeat: no-repeat;
    background-size: cover;
}

.taitle .active .left p {
    color: black;
}

.taitle .active .right {
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* width: 8.5rem; */
    height: 100%;
    color: #444;
}

@media (min-width:860px) {
    .taitle .active .right {
        width: 8.5rem;
    }
}

.taitle .active .right span {
    white-space: nowrap;
    /*文本不换行。*/
    overflow: hidden;
    /*超过部分隐藏*/
    text-overflow: ellipsis;
    /*超过部分用...代替*/
}

.taitle .active .right .userinof p {
    color: #999;
}

.taitle .active .right img {
    margin: 0 auto;
    border-radius: 50%;
}

.userinof, .userimg {
    display: flex;
    justify-content: center;
    flex-direction: column;
}