* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.stueditCheckBox1,.stueditCheckBox0{
  width: 50%;
  height: 46px;
  background-color: red;
  padding: 1rem;
  border-radius: 7%;
  box-shadow: 1px 1px 1px 1px aqua;
}
.stuactive{
  background-color:red;
}
@media (max-width: 860px) {
  .addCLASSnone{
    display:none;
  }
}
.outinfoForTIME{
  font-size: 0.8rem;
}
.selectImgIconTest{
  width: 100%;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../img/arrow.png") no-repeat scroll right center transparent;
}
.classNameForOutPut{
  color: #888888;
  font-weight: 700;
  font-size: 1.2rem;

}
.TranckForAsysc{
  width: 100%;
  text-align: center;
}
.classNameForOutPut a{
  font-weight: 700;
  font-size: 1.5rem;

}
.classNameForOutPutClassInfo{
  color: #b3aeae;
}
.putClasstime{
  font-size: 1.2rem;
}
@media (max-width: 660px){
  .classNameForOutPut a{
    display: none;
  }
  .classNameForOutPutClassInfo a{
    display: none;
  }
  .classNameForOutPut{
    font-size: 0.9rem;
  }
  .recipe-card article p{
    font-size: 0.9rem;
  }
  .putClasstime{
    display: block;
    font-size: 1.2rem;
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.recipe-card {
  background: #fff;
  margin: 4em auto;
  width: 90%;
  max-width: 496px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.recipe-card aside {
  height: 14.2rem;
  position: relative;
}
.recipe-card aside div{
  background-size:cover;
  max-height: 15rem;
  height: 15rem;
}
.recipe-card aside img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.recipe-card aside .button {
  background: #57abf2;
  display: inline-block;
  position: absolute;
  top: 80%;
  right: 3%;
  width: 4.0625em;
  height: 4.0625em;
  border-radius: 4.0625em;
  line-height: 4.0625em;
  text-align: center;
}
.recipe-card aside .button .icon {
  vertical-align: middle;
}
.recipe-card article {
  padding: 1.25em 1.5em;
}
.recipe-card article a span{
  margin-left: 4px;
}
.recipe-card article ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0;
}
.recipe-card article ul li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}
.recipe-card article ul li a{
  white-space:nowrap;/*溢出不换行*/
  overflow:hidden;
  text-overflow:ellipsis;
}
.recipe-card article ul li:first-child {
  margin-left: 0;
}
.recipe-card article ul li .icon {
  vertical-align: bottom;
}
.recipe-card article ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: middle;
  color: #838689;
}
.recipe-card article h2, .recipe-card article h3 {
  margin: 0;
  font-weight: 300;
}
.recipe-card article h2 {
  font-size: 1.4rem;
  color: #222222;
}
.recipe-card article h3 {
  font-size: 0.9375em;
  color: #838689;
}
.recipe-card article p {
  margin: 1.25em 0;
  font-size: 0.8125em;
  font-weight: 400;
  color: #222222;
}
.recipe-card article p span {
  font-weight: 700;
  color: #000000;
}
.recipe-card article .ingredients {
  margin: 2em 0 0.5em;
}
.recipe-card .icon {
  display: inline;
  display: inline-block;
  background-image: url(../svg/recipe-card-icons.svg);
  background-repeat: no-repeat;
}
.recipe-card .icon-calories, .recipe-card .icon-calories\:regular {
  background-position: 0 0;
  width: 16px;
  height: 19px;
}
.recipe-card .icon-clock, .recipe-card .icon-clock\:regular {
  background-position: 0 -19px;
  width: 20px;
  height: 20px;
}
.recipe-card .icon-level, .recipe-card .icon-level\:regular {
  background-position: 0 -39px;
  width: 16px;
  height: 19px;
}
.recipe-card .icon-play, .recipe-card .icon-play\:regular {
  background-position: 0 -58px;
  width: 21px;
  height: 26px;
}
.recipe-card .icon-users, .recipe-card .icon-users\:regular {
  background-position: 0 -84px;
  width: 18px;
  height: 18px;
}
/*弹窗部分*/
* {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  border: none;
  vertical-align: middle;
}

.hide {
  display: none;
}

.left {
  float: left;
}

/* 一般按钮 */

.btn {
  cursor: pointer;
  color: #fff;
  border-color: #417FC8;
  background: -moz-linear-gradient(top, #4a90e2 0, #4a90e2 100%);
  background: -webkit-linear-gradient(top, #4a90e2 0, #4a90e2 100%);
  background: -o-linear-gradient(top, #4a90e2 0, #4a90e2 100%);
  background: -ms-linear-gradient(top, #4a90e2 0, #4a90e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A90E2', endColorstr='#4A90E2', GradientType=0);
  background: linear-gradient(top, #4a90e2 0, #4a90e2 100%);
  height: 30px;
  line-height: 28px;
  padding: 0px 10px;
width: 50%;
}
.btn:hover{
	background-color: red;
}
/* 弹窗 */

.dialog {
  width: 95%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 2%;
  z-index: 2;
  background: white;
  border-radius: 3px;
  border: 1px solid #e0e5ec;
}

/* 弹窗上部 */

.dlg_top {
  position: relative;
  height: 28px;
  z-index: 3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #e0e5ec;
  cursor: move;
}

/* 弹窗右上角 ico */

.dlg_btn_ico {
  float: right;
  background: transparent;
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 5px;
  background-repeat: no-repeat;
}

/* 弹窗右上角 ico 鼠标浮上去的样式 */

.dlg_btn_ico:hover {
  background-color: #eee;
}

/* 最小化 */

.dlg_btn_min_top {
  background-image: url(../img/arrow.png);
}

/* 最大化 */

.dlg_btn_max_top {
  background-image: url(../img/max.png);
}

/* 还原 */

.dlg_btn_reback_top {
  background-image: url(../img/arrow.png);
}

/* 关闭 */

.dlg_btn_close_top {
  background-image: url(../img/quit2.png);
}

/* 左上角logo */

.dlg_logo {
  margin-left: 5px;
  margin-top: -3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

/* 弹窗标题 */

.dlg_title {
  line-height: 28px;
  margin-left: 5px;
}

/* 弹窗内容 */

.dlg_content {
  position: relative;
  min-height: 300px;
  overflow-y: auto;
  margin-right: 4px;
}

/* 弹窗底部 */

.dlg_bottom {
  position: absolute;
  height: 35px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
  padding-top: 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

/* 缩放时右拉块 */

#dlg_right {
  width: 15px;
  height: 100%;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  cursor: e-resize;
  overflow: hidden;
  opacity: 0;
  z-index: 3;
}

/* 缩放时下拉块 */

#dlg_bottom {
  width: 100%;
  height: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: n-resize;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
}

/* 缩放时右下拉块 */

#dlg_right_bottom {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  float: right;
  z-index: 4;
}

